/* multiple font formats are provided here to provide better compression and wider browser support */
@font-face {
  font-family: 'GeneralSans-Variable';
  src:
    url('/assets/fonts/general-sans/GeneralSans-Variable.woff2') format('woff2'),
    url('/assets/fonts/general-sans/GeneralSans-Variable.woff') format('woff'),
    url('/assets/fonts/general-sans/GeneralSans-Variable.ttf')
      format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Variable';
  src:
    url('/assets/fonts/clash-display/ClashDisplay-Variable.woff2')
      format('woff2'),
    url('/assets/fonts/clash-display/ClashDisplay-Variable.woff') format('woff'),
    url('/assets/fonts/clash-display/ClashDisplay-Variable.ttf')
      format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'GeneralSans-Variable';
    --font-decorative: 'ClashDisplay-Variable';
    --radius: 12px;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 0 0% 88%;
    --muted-foreground: 0 0% 6%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 88%;
  }

  [data-accent='pink' i] {
    --accent: 341 76% 62%;
    --accent-foreground: 0 0% 100%;
  }
  [data-accent='blue' i] {
    --accent: 193 72% 55%;
    --accent-foreground: 0 0% 100%;
  }
  [data-accent='yellow' i] {
    --accent: 41 76% 51%;
    --accent-foreground: 0 0% 100%;
  }
}

@layer base {
  :where(*, *::before, *::after) {
    @apply border-border;
  }

  ::selection {
    @apply bg-accent text-accent-foreground;
  }

  body {
    @apply min-h-dvh bg-background font-decorative text-foreground antialiased bg-cover bg-fixed bg-center bg-no-repeat;
    background-image: linear-gradient(
        hsl(0 0% 100% / 0.65),
        hsl(0 0% 100% / 0.65)
      ),
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.1' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='5' specularConstant='0.75' specularExponent='20' lighting-color='%23d0021b' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='83'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='specularLighting' result='colormatrix'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%23ffffffff'%3E%3C/rect%3E%3Crect width='100%25' height='100%25' fill='%23d0021b' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");
  }

  :is(h1, h2, h3, h4) {
    @apply scroll-m-20 text-foreground font-semibold;
  }
  h1 {
    @apply text-4xl md:text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }

  :where(a, button) {
    @apply rounded-md focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-accent/50;
  }

  input[type='search']::-webkit-search-cancel-button {
    display: none;
  }
}
